body{
    background-color:#9e0004;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Maven Pro';
    color: black;

}

.header{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
main{
    background-color: black;
    width: 300px;
    height: 400px;
    border-radius: 4px;
    align-items: center;
    
}
.etiqueta{
   
    display: block;
    text-align: center;
    font-size: large;
    color:#d6e1c7;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    font-size: 15px;
    background-color: black;
    color: white;
    border: 0px;
    margin: 0 auto;
    height: 40%;
    width: 57%
    
}
.boton{
    margin-top: 10px;
    margin-left: 43px;
    background-color: grey;
    color: black;
    border-radius:10px;

    
}
footer{
    font-size: 50px;
    color: white;
   
}